extends dashboard
block dashboard__content
	form.pure-form.add-user-form(method='POST' action='/dashboard/managers')
		div.errors
			if messages.length
				each message in messages
					span.form__error #{message}
		input(class='pure-input-1' name='username'
			required
			placeholder='Логін')

		input(class='pure-input-1' name='lastName' placeholder='Прізвище')
		input(class='pure-input-1' name='firstName' placeholder='Ім\'я')

		input(
			class='pure-input-1'
			type='password'
			name='password'
			required
			placeholder='Пароль')
		input(class='pure-input-1'
			name='confirmPassword'
			required
			type='password'
			placeholder='Підтвердити пароль')

		input(
			class='pure-button button-success pure-input-1'
			type='submit' value='Додати')

