extends layout
block content
	div(class='pure-menu dashboard-menu')
		span(class='dashboard-menu_heading block-underline') Меню
		-
			var showManagers = canDo(permissions, action.LIST_MANAGERS);
			var showSupers = canDo(permissions, action.LIST_SUPERVISERS);
			var showMerchs = canDo(permissions, action.LIST_MERCHANDISERS);
			var showSubordinates = showManagers || showMerchs || showSupers;

			var showClients = canDo(permissions, action.LIST_CLIENTS);

			var showMarkets = canDo(permissions, action.LIST_MARKETS);
			var showMarketNets = canDo(permissions, action.LIST_MARKETNETS);
			var showMarketsSection = showMarkets || showMarketNets;
		ul(class='pure-menu-list')
			if showSubordinates
				li(class='pure-menu-item')
					a(class='dashboard-menu_section-heading') Підлеглі
				if showManagers
					li(class='pure-menu-item')
						a(class='dashboard-menu_link link__selected managers') Менеджери
				if showSupers
					li(class='pure-menu-item')
						a(class='dashboard-menu_link') Супервайзер
				if showMerchs
					li(class='pure-menu-item')
						a(class='dashboard-menu_link block-underline') Мерчиндайзери

			if showClients
				li(class='pure-menu-item')
					a(class='dashboard-menu_section-heading') Клієнти
				li(class='pure-menu-item')
					a(class='dashboard-menu_link block-underline') Клієнти

			if showMarketsSection
				li(class='pure-menu-item')
					a(class='dashboard-menu_section-heading') Супермаркети
				if showMarketNets
					li(class='pure-menu-item')
						a(class='dashboard-menu_link') Мережі
				if showMarkets
					li(class='pure-menu-item')
						a(class='dashboard-menu_link block-underline') Магазини

	div(class='pure-g layout')
		header(class='dashboard--header pure-u-1')
			div(class='header--logo')
				i(class='fa fa-trophy')
				|LeaderTeam
			ul(class='header__list')
				li(class='header__item')
					a(class='header__link' href='/profile')
						i(class='fa fa-user-alt')
						|Мій профіль
				li(class='header__item')
					a(class='header__link' href='/logout')
						i(class='fa fa-sign-out-alt')
						|Вийти

		div(class='content pure-u-1')
			div(class='content__container')
				header(class='content__header') Менеджери
					button(class='pure-button pure-button-primary header__new-role') Додати Менеджера
				main(class='content__main')
					table(class='content__table')
						thead.table__head
							th Логін
							th Посада
							th Прізвище
							th Ім'я
							th Дата створення
						tbody.table__body
							each manager in managers
								- var lastName = manager.lastName?manager.lastName:'--'
								- var firstName = manager.firstName?manager.firstName:'--'
								tr.table__row
									td
										a(href='/a') #{manager.username}
									td #{manager.role}
									td #{lastName}
									td #{firstName}
									td #{new Date(manager.createdAt).toLocaleString('uk')}
				footer(class='content__footer')
					ul(class='paginator')
						li(class='paginator__item paginator__previous')
							a
								i(class='fa fa-chevron-left')
						li(class='paginator__item')
							a 1
						li(class='paginator__item')
							a ...
						li(class='paginator__item')
							a 100
						li(class='paginator__item paginator__next')
							a
								i(class='fa fa-chevron-right')

		footer(class='dashboard--footer pure-u-1') LeaderTeam Copyright 2018
