div(class='pure-menu dashboard-menu')
	span(class='dashboard-menu_heading block-underline') Меню
	-
		var showManagers = canDo(permissions, actions.LIST_MANAGERS);
		var showSupers = canDo(permissions, actions.LIST_SUPERVISERS);
		var showMerchs = canDo(permissions, actions.LIST_MERCHANDISERS);
		var showSubordinates = showManagers || showMerchs || showSupers;

		var showClients = canDo(permissions, actions.LIST_CLIENTS);

		var showMarkets = canDo(permissions, actions.LIST_MARKETS);
		var showMarketNets = canDo(permissions, actions.LIST_MARKETNETS);
		var showMarketsSection = showMarkets || showMarketNets;

		var showReportings = true;
		var showReports = true;
		var showTasks = true ;
	ul(class='pure-menu-list')
		if showSubordinates
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Працівники
			if showManagers
				li(class='pure-menu-item')
					- var mngSelection = managers?'link__selected':'';
					a(
						href='/dashboard/managers'
						class=`dashboard-menu_link ${mngSelection}`)
						|Менеджери
			if showSupers
				li(class='pure-menu-item')
					- var sprvSelection = supervisers?'link__selected':'';
					a(
						href='/dashboard/supervisers'
						class=`dashboard-menu_link ${sprvSelection}`
						) Супервайзер
			if showMerchs
				li(class='pure-menu-item')
					- var mrchSelection = merchandisers?'link__selected':'';
					a(
						href='/dashboard/merchandisers'
						class=`dashboard-menu_link block-underline ${mrchSelection}`
						) Мерчиндайзери

		if showClients
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Клієнти
			li(class='pure-menu-item')
				- var clntsSelection = clients?'link__selected':'';
				a(
					href='/dashboard/clients'
					class=`dashboard-menu_link block-underline ${clntsSelection}`
					) Клієнти

		if showMarketsSection
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Супермаркети
			if showMarketNets
				li(class='pure-menu-item')
					- var netsSelection = marketnets?'link__selected':'';
					a(
						href='/dashboard/marketnets',
						class=`dashboard-menu_link ${netsSelection}`) Мережі
			if showMarkets
				li(class='pure-menu-item')
					- var marketSelection = markets?'link__selected':'';
					a(
						href='/dashboard/markets'
						class=`dashboard-menu_link block-underline ${marketSelection}`
						) Магазини

		if showReportings
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Звітність
			if showReports
				li(class='pure-menu-item')
					- var reportsSelection = reports?'link__selected':'';
					a(
						href='/dashboard/reports'
						class=`dashboard-menu_link ${reportsSelection}`
						) Звіти
			if showTasks
				li(class='pure-menu-item')
					- var tasksSelection = tasks?'link__selected':'';
					a(
						href='/dashboard/tasks'
						class=`dashboard-menu_link block-underline ${tasksSelection}`
						) Завдання

