div(class='pure-menu dashboard-menu')
	span(class='dashboard-menu_heading block-underline') Меню
	-
		var showManagers = canDo(permissions, actions.LIST_MANAGERS);
		var showSupers = canDo(permissions, actions.LIST_SUPERVISERS);
		var showMerchs = canDo(permissions, actions.LIST_MERCHANDISERS);
		var showSubordinates = showManagers || showMerchs || showSupers;

		var showClients = canDo(permissions, actions.LIST_CLIENTS);

		var showMarkets = canDo(permissions, actions.LIST_MARKETS);
		var showMarketNets = canDo(permissions, actions.LIST_MARKETNETS);
		var showMarketsSection = showMarkets || showMarketNets;

		var showReportings = true;
		var showReports = true;
		var showTasks = true ;
	ul(class='pure-menu-list')
		if showSubordinates
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Працівники
			if showManagers
				li(class='pure-menu-item')
					- var mngSelection = role==='manager'?'link__selected':'';
					a(
						href='/dashboard/managers'
						class=`dashboard-menu_link ${mngSelection}`)
						|Менеджери
			if showSupers
				li(class='pure-menu-item')
					- var sprvSelection = role==='superviser'?'link__selected':'';
					a(
						href='/dashboard/supervisers'
						class=`dashboard-menu_link ${sprvSelection}`
						) Супервайзер
			if showMerchs
				li(class='pure-menu-item')
					- var mrchSelction = role==='merchandiser'?'link__selected':'';
					a(
						href='/dashboard/merchandisers'
						class=`dashboard-menu_link block-underline ${mrchSelction}`
						) Мерчиндайзери

		if showClients
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Клієнти
			li(class='pure-menu-item')
				a(class='dashboard-menu_link block-underline') Клієнти

		if showMarketsSection
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Супермаркети
			if showMarketNets
				li(class='pure-menu-item')
					a(class='dashboard-menu_link') Мережі
			if showMarkets
				li(class='pure-menu-item')
					a(class='dashboard-menu_link block-underline') Магазини

		if showReportings
			li(class='pure-menu-item')
				a(class='dashboard-menu_section-heading') Звітність
			if showReports
				li(class='pure-menu-item')
					a(
						href='/dashboard/reports'
						class='dashboard-menu_link') Звіти
			if showTasks
				li(class='pure-menu-item')
					a(class='dashboard-menu_link block-underline') Завдання

