extends layout

block content
	div(class='login-layout')
		header
			h2(class='text--align-center title--width-half')
				i(class='fa fa-trophy logo')
				|  LeaderTeam
		div(class='block--align-center')
			p #{message}
			form(
				class='form form--type-login pure-form pure-form-aligned'
				method='POST'
			)
				fieldset
					div(class='pure-control-group')
						input(class='pure-input-1' type='text' name='login' placeholder='Логін')
					div(class='pure-control-group')
						input(class='pure-input-1' type='password' name='password' placeholder='Пароль')
					button(
						class='pure-button pure-button-primary form-submit'
						type='submit' value='log in') Вхід
