extends dashboard
block dashboard__content
	table(class='content__table')
		thead.table__head
			th Логін
			th Посада
			th Прізвище
			th Ім'я
			th Дата створення
		tbody.table__body
			each manager in managers
				- var lastName = manager.lastName?manager.lastName:'--'
				- var firstName = manager.firstName?manager.firstName:'--'
				tr.table__row
					td
						a(href=`/dashboard/managers/${manager.username}`) #{manager.username}
					td #{manager.role}
					td #{lastName}
					td #{firstName}
					td #{new Date(manager.createdAt).toLocaleString('uk')}
